extends layout

block content
	div(class="container")
		div(class="row")
			div(class="span8")
				div(class="image box")
					div(class="box-inner")
							div(class="meta")
								- for image, ii in images
									a(href="/" + token + "-" + ii)
										img(class="thumb", src="/tiny/" + token + "-" + ii + ".jpg")				
			div(class="span4")
				div(class="box")
					div(class="box-inner")
						#meta
							h4 Direct URL
							input(id="share-url", value="http://imagespiral.com/" + token, spellcheck="false")
							h4 Forum Embed
							input(id="share-forum", value="[URL=http://imagespiral.com/" + token + "][IMG]http://imagespiral.com/small/" + token + ".jpg[/IMG][/URL]", spellcheck="false")
							h4 HTML Embed
							input(id="share-html", value="<a href='http://imagespiral.com/" + token + "'><img src='http://imagespiral.com/small/" + token + ".jpg'></a>", spellcheck="false")
				script(type="text/javascript")
					window.onkeydown = function(e){
						var code = e.keyCode ? e.keyCode : e.charCode;
						if(code == 37)
							if(document.getElementById("previous")) document.getElementById("previous").click(e);
						if(code == 39)
							if(document.getElementById("next")) document.getElementById("next").click(e);
					}