extends layout

block content
	div(class="container")
		div(id="images", class="box")
			div(class="box-inner upload content")
				div(class="form")
					fieldset
						legend Upload Images
						- if (locals.error.length > 0)
							div(class="alert alert-error")=locals.error
						div(id="upload-cover", class="hidden")
						p(style="color: #ddd") Select one or more images, up to #{locals.config.maxFileSize}MB each
					div(id="upload-form")
						form(id="upload-form", action="/", method="POST", enctype="multipart/form-data", class="form-horizontal")
							div(class="control-group")
								label(class="control-label", for="thumbnail-size") Thumbnail Size
								div(class="controls")						
									select(name="thumbnail-size")
										each size in locals.config.thumbnailSizes
											option(value=size) #{size}
							div(class="control-group")
								label(class="control-label", for="file") Choose File/s
								div(class="controls")
									input(id="files", type="file", name="files[]", data-url="/", multiple="")
							div(class="control-group", id="files-list-wrapper")
								div(class="controls")
									div(id="files-list")
							div(class="control-group")
								div(class="controls")
									input(id="upload-button", type="submit", class="btn btn-custom", value="Upload")