extends layout

block content
	div(class="container")
		div(id="images", class="box")
			div(class="box-inner upload content")
				div(id="upload-cover", class="hidden")
				h1 Upload An Image:
				button(id="file-button", class="btn btn-custom") Select A File
					input(id="file", type="file", name="file", data-url="/")
				h3 - or -
				div(class="drop") Drag & Drop
				