extends layout

block content
	div(class="container")
		div(class="box")
			div(class="box-inner content")
				div(class="form")
					form(action="/report", method="post", class="form-horizontal")
						fieldset
							legend Report An Image
							div(class="control-group", style="margin-top: 0;")
								label(class="form-label") You may report an inappropriate image or request the deletion of an image by filling out the form below.
							div(class="control-group")
								label(class="control-label", for="url") URL of image
								div(class="controls")	
									input(type="text", name="url")
							div(class="control-group")
								label(class="control-label", for="reason") Reason for removal
								div(class="controls")	
									textarea(name="reason")
							div(class="control-group")
								div(class="controls")
									input(type="submit", class="btn btn-custom", value="Report Image")