extends layout

block content
	div(class="container")
		div(class="row")
			div(class="span8 image box")
				div(class="box-inner")
					a(href="/images/" + token + ".jpg")
						img(class="full", src="/thumbs/" + token + ".jpg")
			div(class="span4")
				div(class="box")
					div(class="box-inner")
						#meta
							h4 Direct URL
							input(id="share-url", value="http://imagespiral.com/" + token, spellcheck="false")
							h4 Forum Embed
							input(id="share-forum", value="[URL=http://imagespiral.com/" + token + "][IMG]http://imagespiral.com/small/" + token + ".jpg[/IMG][/URL]", spellcheck="false")
							h4 HTML Embed
							input(id="share-html", value="<a href='http://imagespiral.com/" + token + "'><img src='http://imagespiral.com/small/" + token + ".jpg'></a>", spellcheck="false")
				div(class="box")
					div(class="box-inner")
						// div(style="width: 280px; height: 250px; margin: 0px auto; background: #444; line-height: 250px; text-align: center; color: #333; font-size: 48px;") Ad
						div(id="sidebar-ad")
							// juicyads | <iframe border=0 frameborder=0 marginheight=0 marginwidth=0 width=258 height=258 scrolling=no allowtransparency=true src=http://adserver.juicyads.com/adshow.php?adzone=171384></iframe>
							// sweetdiscreet | <script type='text/javascript' src='http://ard.sweetdiscreet.com/trafficoptimizer/index.php?toid=100428&r=lc396745'></script>
							| <iframe allowtransparency="1" frameborder="0" height="420" id="plwpr2742650ac3364831599.73742110" scrolling="no" src="http://widget.plugrush.com/imagespiral.com/1jrc" width="280"></iframe>